%h1= @doc.title
%p= @doc.content

%button= link_to "All Docs", docs_path
%button= link_to "Edit Doc", edit_doc_path(@doc)
%button= link_to "Delete Doc", doc_path(@doc), method: :delete, data: { confirm: "Are You Sure?" }
